<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="row mb-3">
        <div class="col">
          <h4>Servers</h4>
        </div>
        <div class="col text-right">
          <a href="" class="btn btn-primary">New server</a>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Hostname</th>
            <th>IP</th>
            <th>Last active</th>
            <th>Distro</th>
            <th>Uptime</th>
            <th>RAM</th>
            <th>Disk</th>
          </tr>

          <%= for server_raw <- @servers do %>
            <% server = build_data(server_raw) %>
            <%= if server != nil do %>
              <% IO.inspect server %>
              <tr class="clickable-row">
                <td><%= server.hostname%></td>
                <td><%= server.ip%></td>
                <td>
                  <span class="badge badge-primary"><%= server.last %> minutes ago</span>
                </td>
                <td class="table-thumb">
                  <img src='<%= Routes.static_path(@conn, server.image) %>'>
                </td>
                <td><%= server.uptime %></td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= server.ram %>%">
                      <%= server.ram %>%
                    </div>
                  </div>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= server.disk %>%">
                      <%= server.disk %>%
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>