.table {
  margin-bottom: 0;
  font-size: 0.875rem !important;
  
  td, .table th {
    white-space: nowrap;
    vertical-align: middle;
  }
  
  thead th {
    border-top: none !important;
    border-bottom: 1px solid #e3ebf6 !important;
  }
  
  tbody td {
    border-top: 1px solid #e3ebf6 !important;
  }
  
}

.table > thead > tr:first-child > td,
.table > tbody > tr:first-child > td {
  border: none !important;
}

.table-thumb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  img {
    height: 30px;
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
  }
}


.clickable-row {
  cursor: pointer;
}